body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Eina;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.015em;
  color: var(--color-shark);
}

@media screen and (max-width: 460px) {
  main {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
  }
}

header-bar header.overlay {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

header-bar header {
  webkit-transition: border .6s;
  transition: border .6s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid transparent;
  height: 64px;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

footer-bar, header-bar, icon-list, icon-search, ionicons-site, landing-page, notfound-page, stencil-route, stencil-route-link, stencil-route-switch, stencil-router, toast-bar, usage-page {
  visibility: hidden
}

footer-bar footer {
  width: 100%;
  background: var(--color-white-lilac);
  -ms-flex: 0 0 8em;
  flex: 0 0 8em;
}

footer-bar .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer-bar img {
  width: 50%;
}

footer-bar p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-cadet-blue);
  font-size: 10px;
  letter-spacing: 0;
}

footer-bar .footer-menu a {
  -webkit-transition: color .3s;
  transition: color .3s;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-gull-gray);
}

footer-bar .footer-menu a:hover {
  color: var(--color-shark);
}

footer-bar .footer-menu a+a {
  margin-left: 18px;
}

@media screen and (max-width:768px) {
  footer-bar .container {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  footer-bar .footer-menu {
    margin-bottom: 36px;
  }
}

toast-bar .toast-bar {
  position: fixed;
  padding: 12px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

toast-bar .toast-bar.isVisible {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-timing-function: var(--easeOutExpo);
  animation-timing-function: var(--easeOutExpo);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

toast-bar .toast-bar.isHidden {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-timing-function: var(--easeOutExpo);
  animation-timing-function: var(--easeOutExpo);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  99% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  99% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

toast-bar .toast-bar.preload {
  opacity: 0;
}

toast-bar .toast-bar--inner {
  background-color: var(--color-shark);
  height: 80px;
  border-radius: 15px;
  padding: 0 20px 0 30px;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .08);
}

toast-bar .toast-bar--inner h4 {
  color: #fff;
  margin: 0;
  white-space: nowrap;
  margin-right: 30px;
}

toast-bar .toast-bar__details {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

toast-bar .toast-bar__section-header, toast-bar .toast-bar__section-header>div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

toast-bar .toast-bar__section-header {
  height: 10px;
  margin-bottom: 7px;
}

toast-bar .toast-bar__section-header h6 {
  display: inline-block;
}

toast-bar .toast-bar__section-header a {
  -webkit-transition: border .3s;
  transition: border .3s;
  color: var(--color-melrose);
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

toast-bar .toast-bar__section-header a:hover {
  border-bottom-color: var(--color-melrose-dark);
}

toast-bar .toast-bar__section-header i {
  margin-left: 3px;
}

toast-bar .toast-bar__section:not(:first-child) {
  margin-left: 20px;
}

toast-bar .toast-bar__section:first-child {
  position: relative;
  max-width: none;
}

toast-bar .toast-bar__details code {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
  padding: 0 12px;
  cursor: text;
  overflow: hidden;
}

@supports (display:grid) {
  toast-bar .toast-bar__section:not(:first-child) {
    -ms-flex: 0;
    flex: 0;
  }

  toast-bar .toast-bar__section:first-child {
    -ms-flex: 1;
    flex: 1;
  }

  toast-bar .toast-bar__details code {
    overflow-x: auto;
  }
}

toast-bar .toast-bar__details code>span {
  position: absolute;
  white-space: nowrap;
}

toast-bar .toast-bar__section .confirmation {
  font-size: 11px;
  font-family: Eina;
  font-weight: 600;
  color: #aec6ff;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  margin-left: 12px;
}

toast-bar .toast-bar__section .confirmation .ion {
  color: #aec6ff;
  font-size: 14px;
  margin-right: 4px;
}

toast-bar .toast-bar__section.copied .confirmation {
  -webkit-animation-name: slideInOut;
  animation-name: slideInOut;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  10% {
    opacity: .9;
    -webkit-transform: translateY(0);
    transform: translateY(0)l
  }

  90% {
    opacity: .9;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  10% {
    opacity: .9;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  90% {
    opacity: .9;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

toast-bar .toast-bar__details code:hover .hover-highlight {
  background-color: #5882b2;
}

@media screen and (max-width:768px) {
  toast-bar .toast-bar__section:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width:540px) {
  toast-bar .toast-bar--inner {
    padding: 16px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    height: auto;
  }

  toast-bar .toast-bar--inner h4 {
    margin: 0 0 16px;
  }

  toast-bar .toast-bar__section {
    max-width: 100% !important;
  }

  toast-bar .toast-bar__details {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}
}

icon-list .icon-list {
  margin-bottom: 100px
}

icon-list .icon-list__search+.icon-list__wrapper {
  padding-top: 90px
}

icon-list .icon-list__header-bar {
  -webkit-transition: -webkit-box-shadow .6s;
  transition: -webkit-box-shadow .6s;
  transition: box-shadow .6s;
  transition: box-shadow .6s, -webkit-box-shadow .6s;
  margin-bottom: 14px;
  height: 52px;
  background-color: #fff;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  z-index: 99
}

icon-list .icon-list__header-bar.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 58px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06)
}

icon-list .icon-list__header-bar .container--small {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

icon-list .icon-list__header-bar h4 {
  margin-top: 21px;
  margin-bottom: 0
}

icon-list .icon-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  grid-gap: .5em;
  padding-bottom: 60px;
  margin-left: -20px;
  margin-right: -20px
}

icon-list .icon-results .ion, icon-list .icon-results__cell {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

icon-list .icon-results__cell {
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(236, 240, 246, .4)
}

icon-list .icon-results__cell .ion {
  width: 42px;
  height: 42px;
  font-size: 32px;
  color: #373737
}

icon-list .icon-results__cell:not(.active).mouseOver {
  -webkit-animation-name: shadowIn;
  animation-name: shadowIn;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

@-webkit-keyframes shadowIn {
  0% {
    -webkit-box-shadow: 0;
    box-shadow: 0
  }

  to {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
  }
}

@keyframes shadowIn {
  0% {
    -webkit-box-shadow: 0;
    box-shadow: 0
  }

  to {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
  }
}

icon-list .icon-results__cell.active, icon-list .icon-results__cell:not(.active).mouseOff {
  -webkit-animation-name: shadowOut;
  animation-name: shadowOut;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

icon-list .icon-results__cell.active {
  -webkit-animation-duration: .3s;
  animation-duration: .3s
}

@-webkit-keyframes shadowOut {
  0% {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
  }

  to {
    -webkit-box-shadow: 0;
    box-shadow: 0
  }
}

@keyframes shadowOut {
  0% {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
  }

  to {
    -webkit-box-shadow: 0;
    box-shadow: 0
  }
}

icon-list .icon-results__cell.active {
  background-color: var(--color-catskill-white);
  cursor: default
}

icon-list .icon-results--empty {
  text-align: center;
  padding-top: 70px
}

icon-list .icon-results--empty h2 {
  margin-top: 0
}

icon-list .toggle {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  margin-right: -4px;
  position: relative;
  bottom: -3px;
  margin-top: 18px
}

icon-list .toggle__item {
  -webkit-transition: opacity .3s, padding-bottom .1s;
  transition: opacity .3s, padding-bottom .1s;
  opacity: .5;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-dodger-blue);
  border-bottom: 2px solid transparent
}

icon-list .toggle__item:not(.active) {
  cursor: pointer
}

icon-list .toggle__item.active, icon-list .toggle__item:hover {
  opacity: 1
}

icon-list .toggle__item.active {
  border-bottom: 2px solid var(--color-dodger-blue);
  padding-bottom: 2px
}

icon-list .toggle__item+.toggle__item {
  margin-left: 20px
}

icon-list .icon-list__header-bar.sticky .toggle__item {
  padding-bottom: 11px
}

@media screen and (max-width:768px) {
  icon-list .icon-results {
    margin-left: 0;
    margin-right: 0
  }

  icon-list .icon-list__search+.icon-list__wrapper {
    padding-top: 40px
  }
}

@media screen and (max-width:560px) {
  icon-list .icon-results__cell.active, icon-list .icon-results__cell:not(.active).mouseOff, icon-list .icon-results__cell:not(.active).mouseOver {
    -webkit-animation-name: none;
    animation-name: none;
    -webkit-box-shadow: 0;
    box-shadow: 0
  }
}

icon-search .search-input {
  position: relative;
}

icon-search .search-input input {
  width: 100%;
  font-weight: 400;
  font-family: Eina;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-appearance: none;
  vertical-align: middle;
}

icon-search .search-input__clear {
  -webkit-transition: background .3s, opacity .3s;
  transition: background .3s, opacity .3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
  font-size: 14px;
  width: 22px;
  height: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-pale-sky);
  opacity: 0;
  background-color: var(--color-catskill-white);
  border-radius: 100px
}

icon-search .search-input__clear--active {
  opacity: .8
}

icon-search .search-input__clear--active:hover {
  opacity: 1;
  background-color: #e3e9f3
}

icon-search .search-input--small .search-input__clear {
  font-size: 12px;
  width: 18px;
  height: 18px;
  background-color: #e3e9f3;
  right: 12px
}

icon-search .search-input--small .search-input__clear--active:hover {
  background-color: #dce3f0
}

icon-search .search-input:before {
  font-family: Ionicons;
  content: "\f4a5";
  color: var(--color-heather);
  position: absolute;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

icon-search .search-input--small input {
  font-size: 13px;
  line-height: 18px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f6f7f9;
  height: 39px;
  text-indent: 0
}

icon-search .search-input--small:before {
  font-size: 18px;
  left: 10px
}

icon-search .search-input--large input {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  font-size: 16px;
  line-height: 22px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
}

icon-search .search-input--large input:focus {
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08)
}

icon-search .search-input--large:before {
  font-size: 22px;
  left: 20px
}

icon-search .search-input input::-webkit-input-placeholder {
  color: var(--color-heather)
}

icon-search .search-input input:-ms-input-placeholder {
  color: var(--color-heather)
}

icon-search .search-input input::-ms-input-placeholder {
  color: var(--color-heather)
}

icon-search .search-input input::placeholder {
  color: var(--color-heather)
}

landing-page {
  height: 100%;
}

landing-page .lead, landing-page h1 {
  text-align: center;
}

landing-page .lead {
  margin-bottom: 40px;
}

stencil-route.inactive {
  display: none;
}

header-bar header {
  -webkit-transition: border .6s;
  transition: border .6s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid transparent;
  height: 64px;
}

header-bar header.overlay {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

header-bar .container, header-bar .logo, header-bar .logo a, header-bar nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

header-bar .logo, header-bar nav {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

header-bar nav {
  -ms-flex-align: baseline;
  align-items: baseline;
}

header-bar icon-search {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -ms-flex: 1;
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
  opacity: 0;
  pointer-events: none;
}

header-bar .visible-search icon-search {
  opacity: 1;
  pointer-events: auto;
}

header-bar .container {
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

header-bar .logo a {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-shark);
}

header-bar .logo svg {
  margin-right: 10px;
}

header-bar .logo .version {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-oslo-gray);
  background-color: var(--color-catskill-white);
  border-radius: 4px;
  padding: 1px 5px;
  position: relative;
  top: -2px;
}

header-bar a {
  text-decoration: none;
}

header-bar .nav__item+.nav__item, header-bar nav+.btn {
  margin-left: 30px;
}

header-bar .nav__item {
  font-size: 13px;
  font-weight: 600;
}

header-bar .nav__item, header-bar .nav__item a {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: var(--color-pale-sky);
}

header-bar .nav__item:hover, header-bar .nav__item a:not(.link-active):hover {
  color: var(--color-shark);
}

header-bar .nav__item .link-active {
  color: var(--color-heather);
  cursor: default;
}

header-bar .nav__item svg {
  margin-left: 6px;
}

header-bar .nav__item:hover svg #arrow {
  -webkit-transform: translate(1px, -1px);
  transform: translate(1px, -1px);
}

header-bar .btn svg {
  margin-right: 6px;
}

header-bar .btn:hover svg #arrow {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

header-bar .more {
  padding: 0 8px;
  line-height: 28px;
  color: var(--color-dodger-blue);
  cursor: pointer;
}

header-bar .more, header-bar nav span.close {
  font-size: 28px;
  display: none;
}

@media screen and (max-width:992px) {
  header-bar nav>*+* {
    margin-left: 18px;
  }

  header-bar icon-search {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width:768px) {
  header-bar .btn.sm-hide {
    display: none;
  }

  header-bar .close, header-bar .more {
    cursor: pointer;
  }

  header-bar .more {
    display: block;
  }

  header-bar .nav__item+.nav__item, header-bar nav+.btn {
    margin-left: 0;
    margin-top: 30px;
  }

  header-bar nav {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-image: linear-gradient(-223deg, #363e49, #1c1e21);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    display: none;
  }

  header-bar nav .close {
    margin: 0;
    position: absolute;
    top: 14px;
    right: 18px;
    color: #fff;
    cursor: pointer;
  }

  header-bar .nav__item {
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  header-bar .nav__item, header-bar .nav__item a {
    font-size: 28px;
    color: hsla(0, 0%, 100%, .9);
  }

  header-bar .nav__item .link-active {
    color: hsla(0, 0%, 100%, .3);
  }

  header-bar .nav__item:hover, header-bar .nav__item a:not(.link-active):hover {
    color: hsla(0, 0%, 100%, .9);
  }

  header-bar .nav__item svg #bg {
    opacity: .2;
  }

  header-bar nav.show-mobile-menu {
    opacity: 1;
  }

  header-bar nav.show-mobile-menu .nav__item {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  header-bar nav.show-mobile-menu .close {
    display: block;
  }

  header-bar icon-search {
    padding-left: 20px;
    padding-right: 15px;
  }
}

@media screen and (max-width:520px) {
  header-bar .version {
    display: none;
  }
}

stencil-router>div {
  height: 100%;
}

.hydrated {
  visibility: inherit;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1140px;
    flex: 1;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.container {
  max-width: 1140px;
  flex: 1;
  box-sizing: border-box;
  margin: 0 auto;
}

icon-list .icon-list {
  margin-bottom: 100px;
}

div {
  display: block;
}

.container--small {
  max-width: 650px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

icon-search .search-input--large input {
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  font-size: 16px;
  line-height: 22px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .08);
}

icon-search .search-input__clear {
  transition: background .3s, opacity .3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  font-size: 14px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-pale-sky);
  opacity: 0;
  background-color: var(--color-catskill-white);
  border-radius: 100px;
}

icon-search .search-input input {
  width: 100%;
  font-weight: 400;
  font-family: Eina;
  border: 0;
  outline: 0;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  -webkit-appearance: none;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  icon-list .icon-list__search+.icon-list__wrapper {
    padding-top: 40px;
  }

  icon-list .icon-results {
    margin-left: 0;
    margin-right: 0;
  }
}

icon-list .icon-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-auto-rows: minmax(70px, auto);
  grid-gap: .5em;
  padding-bottom: 60px;
  margin-left: -20px;
  margin-right: -20px;
}

icon-list .icon-list__search+.icon-list__wrapper {
  padding-top: 90px;
}

icon-list .icon-list__header-bar {
  transition: box-shadow .6s, -webkit-box-shadow .6s;
  margin-bottom: 14px;
  height: 52px;
  background-color: #fff;
  z-index: 99;
}

icon-list .icon-list__header-bar h4 {
  margin-top: 21px;
  margin-bottom: 0;
}

icon-list .toggle {
  list-style-type: none;
  display: flex;
  margin-right: -4px;
  position: relative;
  bottom: -3px;
  margin-top: 18px;
}

icon-list .toggle__item.active {
  border-bottom: 2px solid var(--color-dodger-blue);
  padding-bottom: 2px;
}

icon-list .toggle__item.active, icon-list .toggle__item:hover {
  opacity: 1;
}

icon-list .toggle__item {
  transition: opacity .3s, padding-bottom .1s;
  text-decoration: none;
  opacity: .5;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-dodger-blue);
  border-bottom: 2px solid transparent;
}
}

icon-list .toggle__item+.toggle__item {
  margin-left: 20px;
}

icon-list .toggle__item:not(.active) {
  cursor: pointer;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-gull-gray);
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

icon-list .icon-list__header-bar .container--small {
  display: flex;
  justify-content: space-between;
}

icon-search .search-input--large:before {
  font-size: 22px;
  left: 20px;
}

icon-search .search-input : before {
  font-family: Ionicons;
  content: "\f4a5";
  color: var(--color-heather);
  position: absolute;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
}

icon-search .search-input {
  position: relative;
}

.hydrated {
  visibility: inherit;
}

landing-page {
  height: 100%;
}

.ion, .ionicons, .ion-ios-add:before, .ion-ios-add-circle:before, .ion-ios-add-circle-outline:before, .ion-ios-airplane:before, .ion-ios-alarm:before, .ion-ios-albums:before, .ion-ios-alert:before, .ion-ios-american-football:before, .ion-ios-analytics:before, .ion-ios-aperture:before, .ion-ios-apps:before, .ion-ios-appstore:before, .ion-ios-archive:before, .ion-ios-arrow-back:before, .ion-ios-arrow-down:before, .ion-ios-arrow-dropdown:before, .ion-ios-arrow-dropdown-circle:before, .ion-ios-arrow-dropleft:before, .ion-ios-arrow-dropleft-circle:before, .ion-ios-arrow-dropright:before, .ion-ios-arrow-dropright-circle:before, .ion-ios-arrow-dropup:before, .ion-ios-arrow-dropup-circle:before, .ion-ios-arrow-forward:before, .ion-ios-arrow-round-back:before, .ion-ios-arrow-round-down:before, .ion-ios-arrow-round-forward:before, .ion-ios-arrow-round-up:before, .ion-ios-arrow-up:before, .ion-ios-at:before, .ion-ios-attach:before, .ion-ios-backspace:before, .ion-ios-barcode:before, .ion-ios-baseball:before, .ion-ios-basket:before, .ion-ios-basketball:before, .ion-ios-battery-charging:before, .ion-ios-battery-dead:before, .ion-ios-battery-full:before, .ion-ios-beaker:before, .ion-ios-bed:before, .ion-ios-beer:before, .ion-ios-bicycle:before, .ion-ios-bluetooth:before, .ion-ios-boat:before, .ion-ios-body:before, .ion-ios-bonfire:before, .ion-ios-book:before, .ion-ios-bookmark:before, .ion-ios-bookmarks:before, .ion-ios-bowtie:before, .ion-ios-briefcase:before, .ion-ios-browsers:before, .ion-ios-brush:before, .ion-ios-bug:before, .ion-ios-build:before, .ion-ios-bulb:before, .ion-ios-bus:before, .ion-ios-business:before, .ion-ios-cafe:before, .ion-ios-calculator:before, .ion-ios-calendar:before, .ion-ios-call:before, .ion-ios-camera:before, .ion-ios-car:before, .ion-ios-card:before, .ion-ios-cart:before, .ion-ios-cash:before, .ion-ios-cellular:before, .ion-ios-chatboxes:before, .ion-ios-chatbubbles:before, .ion-ios-checkbox:before, .ion-ios-checkbox-outline:before, .ion-ios-checkmark:before, .ion-ios-checkmark-circle:before, .ion-ios-checkmark-circle-outline:before, .ion-ios-clipboard:before, .ion-ios-clock:before, .ion-ios-close:before, .ion-ios-close-circle:before, .ion-ios-close-circle-outline:before, .ion-ios-cloud:before, .ion-ios-cloud-circle:before, .ion-ios-cloud-done:before, .ion-ios-cloud-download:before, .ion-ios-cloud-outline:before, .ion-ios-cloud-upload:before, .ion-ios-cloudy:before, .ion-ios-cloudy-night:before, .ion-ios-code:before, .ion-ios-code-download:before, .ion-ios-code-working:before, .ion-ios-cog:before, .ion-ios-color-fill:before, .ion-ios-color-filter:before, .ion-ios-color-palette:before, .ion-ios-color-wand:before, .ion-ios-compass:before, .ion-ios-construct:before, .ion-ios-contact:before, .ion-ios-contacts:before, .ion-ios-contract:before, .ion-ios-contrast:before, .ion-ios-copy:before, .ion-ios-create:before, .ion-ios-crop:before, .ion-ios-cube:before, .ion-ios-cut:before, .ion-ios-desktop:before, .ion-ios-disc:before, .ion-ios-document:before, .ion-ios-done-all:before, .ion-ios-download:before, .ion-ios-easel:before, .ion-ios-egg:before, .ion-ios-exit:before, .ion-ios-expand:before, .ion-ios-eye:before, .ion-ios-eye-off:before, .ion-ios-fastforward:before, .ion-ios-female:before, .ion-ios-filing:before, .ion-ios-film:before, .ion-ios-finger-print:before, .ion-ios-fitness:before, .ion-ios-flag:before, .ion-ios-flame:before, .ion-ios-flash:before, .ion-ios-flash-off:before, .ion-ios-flashlight:before, .ion-ios-flask:before, .ion-ios-flower:before, .ion-ios-folder:before, .ion-ios-folder-open:before, .ion-ios-football:before, .ion-ios-funnel:before, .ion-ios-gift:before, .ion-ios-git-branch:before, .ion-ios-git-commit:before, .ion-ios-git-compare:before, .ion-ios-git-merge:before, .ion-ios-git-network:before, .ion-ios-git-pull-request:before, .ion-ios-glasses:before, .ion-ios-globe:before, .ion-ios-grid:before, .ion-ios-hammer:before, .ion-ios-hand:before, .ion-ios-happy:before, .ion-ios-headset:before, .ion-ios-heart:before, .ion-ios-heart-dislike:before, .ion-ios-heart-empty:before, .ion-ios-heart-half:before, .ion-ios-help:before, .ion-ios-help-buoy:before, .ion-ios-help-circle:before, .ion-ios-help-circle-outline:before, .ion-ios-home:before, .ion-ios-hourglass:before, .ion-ios-ice-cream:before, .ion-ios-image:before, .ion-ios-images:before, .ion-ios-infinite:before, .ion-ios-information:before, .ion-ios-information-circle:before, .ion-ios-information-circle-outline:before, .ion-ios-jet:before, .ion-ios-journal:before, .ion-ios-key:before, .ion-ios-keypad:before, .ion-ios-laptop:before, .ion-ios-leaf:before, .ion-ios-link:before, .ion-ios-list:before, .ion-ios-list-box:before, .ion-ios-locate:before, .ion-ios-lock:before, .ion-ios-log-in:before, .ion-ios-log-out:before, .ion-ios-magnet:before, .ion-ios-mail:before, .ion-ios-mail-open:before, .ion-ios-mail-unread:before, .ion-ios-male:before, .ion-ios-man:before, .ion-ios-map:before, .ion-ios-medal:before, .ion-ios-medical:before, .ion-ios-medkit:before, .ion-ios-megaphone:before, .ion-ios-menu:before, .ion-ios-mic:before, .ion-ios-mic-off:before, .ion-ios-microphone:before, .ion-ios-moon:before, .ion-ios-more:before, .ion-ios-move:before, .ion-ios-musical-note:before, .ion-ios-musical-notes:before, .ion-ios-navigate:before, .ion-ios-notifications:before, .ion-ios-notifications-off:before, .ion-ios-notifications-outline:before, .ion-ios-nuclear:before, .ion-ios-nutrition:before, .ion-ios-open:before, .ion-ios-options:before, .ion-ios-outlet:before, .ion-ios-paper:before, .ion-ios-paper-plane:before, .ion-ios-partly-sunny:before, .ion-ios-pause:before, .ion-ios-paw:before, .ion-ios-people:before, .ion-ios-person:before, .ion-ios-person-add:before, .ion-ios-phone-landscape:before, .ion-ios-phone-portrait:before, .ion-ios-photos:before, .ion-ios-pie:before, .ion-ios-pin:before, .ion-ios-pint:before, .ion-ios-pizza:before, .ion-ios-planet:before, .ion-ios-play:before, .ion-ios-play-circle:before, .ion-ios-podium:before, .ion-ios-power:before, .ion-ios-pricetag:before, .ion-ios-pricetags:before, .ion-ios-print:before, .ion-ios-pulse:before, .ion-ios-qr-scanner:before, .ion-ios-quote:before, .ion-ios-radio:before, .ion-ios-radio-button-off:before, .ion-ios-radio-button-on:before, .ion-ios-rainy:before, .ion-ios-recording:before, .ion-ios-redo:before, .ion-ios-refresh:before, .ion-ios-refresh-circle:before, .ion-ios-remove:before, .ion-ios-remove-circle:before, .ion-ios-remove-circle-outline:before, .ion-ios-reorder:before, .ion-ios-repeat:before, .ion-ios-resize:before, .ion-ios-restaurant:before, .ion-ios-return-left:before, .ion-ios-return-right:before, .ion-ios-reverse-camera:before, .ion-ios-rewind:before, .ion-ios-ribbon:before, .ion-ios-rocket:before, .ion-ios-rose:before, .ion-ios-sad:before, .ion-ios-save:before, .ion-ios-school:before, .ion-ios-search:before, .ion-ios-send:before, .ion-ios-settings:before, .ion-ios-share:before, .ion-ios-share-alt:before, .ion-ios-shirt:before, .ion-ios-shuffle:before, .ion-ios-skip-backward:before, .ion-ios-skip-forward:before, .ion-ios-snow:before, .ion-ios-speedometer:before, .ion-ios-square:before, .ion-ios-square-outline:before, .ion-ios-star:before, .ion-ios-star-half:before, .ion-ios-star-outline:before, .ion-ios-stats:before, .ion-ios-stopwatch:before, .ion-ios-subway:before, .ion-ios-sunny:before, .ion-ios-swap:before, .ion-ios-switch:before, .ion-ios-sync:before, .ion-ios-tablet-landscape:before, .ion-ios-tablet-portrait:before, .ion-ios-tennisball:before, .ion-ios-text:before, .ion-ios-thermometer:before, .ion-ios-thumbs-down:before, .ion-ios-thumbs-up:before, .ion-ios-thunderstorm:before, .ion-ios-time:before, .ion-ios-timer:before, .ion-ios-today:before, .ion-ios-train:before, .ion-ios-transgender:before, .ion-ios-trash:before, .ion-ios-trending-down:before, .ion-ios-trending-up:before, .ion-ios-trophy:before, .ion-ios-tv:before, .ion-ios-umbrella:before, .ion-ios-undo:before, .ion-ios-unlock:before, .ion-ios-videocam:before, .ion-ios-volume-high:before, .ion-ios-volume-low:before, .ion-ios-volume-mute:before, .ion-ios-volume-off:before, .ion-ios-walk:before, .ion-ios-wallet:before, .ion-ios-warning:before, .ion-ios-watch:before, .ion-ios-water:before, .ion-ios-wifi:before, .ion-ios-wine:before, .ion-ios-woman:before, .ion-logo-android:before, .ion-logo-angular:before, .ion-logo-apple:before, .ion-logo-bitbucket:before, .ion-logo-bitcoin:before, .ion-logo-buffer:before, .ion-logo-chrome:before, .ion-logo-closed-captioning:before, .ion-logo-codepen:before, .ion-logo-css3:before, .ion-logo-designernews:before, .ion-logo-dribbble:before, .ion-logo-dropbox:before, .ion-logo-euro:before, .ion-logo-facebook:before, .ion-logo-flickr:before, .ion-logo-foursquare:before, .ion-logo-freebsd-devil:before, .ion-logo-game-controller-a:before, .ion-logo-game-controller-b:before, .ion-logo-github:before, .ion-logo-google:before, .ion-logo-googleplus:before, .ion-logo-hackernews:before, .ion-logo-html5:before, .ion-logo-instagram:before, .ion-logo-ionic:before, .ion-logo-ionitron:before, .ion-logo-javascript:before, .ion-logo-linkedin:before, .ion-logo-markdown:before, .ion-logo-model-s:before, .ion-logo-no-smoking:before, .ion-logo-nodejs:before, .ion-logo-npm:before, .ion-logo-octocat:before, .ion-logo-pinterest:before, .ion-logo-playstation:before, .ion-logo-polymer:before, .ion-logo-python:before, .ion-logo-reddit:before, .ion-logo-rss:before, .ion-logo-sass:before, .ion-logo-skype:before, .ion-logo-slack:before, .ion-logo-snapchat:before, .ion-logo-steam:before, .ion-logo-tumblr:before, .ion-logo-tux:before, .ion-logo-twitch:before, .ion-logo-twitter:before, .ion-logo-usd:before, .ion-logo-vimeo:before, .ion-logo-vk:before, .ion-logo-whatsapp:before, .ion-logo-windows:before, .ion-logo-wordpress:before, .ion-logo-xbox:before, .ion-logo-xing:before, .ion-logo-yahoo:before, .ion-logo-yen:before, .ion-logo-youtube:before, .ion-md-add:before, .ion-md-add-circle:before, .ion-md-add-circle-outline:before, .ion-md-airplane:before, .ion-md-alarm:before, .ion-md-albums:before, .ion-md-alert:before, .ion-md-american-football:before, .ion-md-analytics:before, .ion-md-aperture:before, .ion-md-apps:before, .ion-md-appstore:before, .ion-md-archive:before, .ion-md-arrow-back:before, .ion-md-arrow-down:before, .ion-md-arrow-dropdown:before, .ion-md-arrow-dropdown-circle:before, .ion-md-arrow-dropleft:before, .ion-md-arrow-dropleft-circle:before, .ion-md-arrow-dropright:before, .ion-md-arrow-dropright-circle:before, .ion-md-arrow-dropup:before, .ion-md-arrow-dropup-circle:before, .ion-md-arrow-forward:before, .ion-md-arrow-round-back:before, .ion-md-arrow-round-down:before, .ion-md-arrow-round-forward:before, .ion-md-arrow-round-up:before, .ion-md-arrow-up:before, .ion-md-at:before, .ion-md-attach:before, .ion-md-backspace:before, .ion-md-barcode:before, .ion-md-baseball:before, .ion-md-basket:before, .ion-md-basketball:before, .ion-md-battery-charging:before, .ion-md-battery-dead:before, .ion-md-battery-full:before, .ion-md-beaker:before, .ion-md-bed:before, .ion-md-beer:before, .ion-md-bicycle:before, .ion-md-bluetooth:before, .ion-md-boat:before, .ion-md-body:before, .ion-md-bonfire:before, .ion-md-book:before, .ion-md-bookmark:before, .ion-md-bookmarks:before, .ion-md-bowtie:before, .ion-md-briefcase:before, .ion-md-browsers:before, .ion-md-brush:before, .ion-md-bug:before, .ion-md-build:before, .ion-md-bulb:before, .ion-md-bus:before, .ion-md-business:before, .ion-md-cafe:before, .ion-md-calculator:before, .ion-md-calendar:before, .ion-md-call:before, .ion-md-camera:before, .ion-md-car:before, .ion-md-card:before, .ion-md-cart:before, .ion-md-cash:before, .ion-md-cellular:before, .ion-md-chatboxes:before, .ion-md-chatbubbles:before, .ion-md-checkbox:before, .ion-md-checkbox-outline:before, .ion-md-checkmark:before, .ion-md-checkmark-circle:before, .ion-md-checkmark-circle-outline:before, .ion-md-clipboard:before, .ion-md-clock:before, .ion-md-close:before, .ion-md-close-circle:before, .ion-md-close-circle-outline:before, .ion-md-cloud:before, .ion-md-cloud-circle:before, .ion-md-cloud-done:before, .ion-md-cloud-download:before, .ion-md-cloud-outline:before, .ion-md-cloud-upload:before, .ion-md-cloudy:before, .ion-md-cloudy-night:before, .ion-md-code:before, .ion-md-code-download:before, .ion-md-code-working:before, .ion-md-cog:before, .ion-md-color-fill:before, .ion-md-color-filter:before, .ion-md-color-palette:before, .ion-md-color-wand:before, .ion-md-compass:before, .ion-md-construct:before, .ion-md-contact:before, .ion-md-contacts:before, .ion-md-contract:before, .ion-md-contrast:before, .ion-md-copy:before, .ion-md-create:before, .ion-md-crop:before, .ion-md-cube:before, .ion-md-cut:before, .ion-md-desktop:before, .ion-md-disc:before, .ion-md-document:before, .ion-md-done-all:before, .ion-md-download:before, .ion-md-easel:before, .ion-md-egg:before, .ion-md-exit:before, .ion-md-expand:before, .ion-md-eye:before, .ion-md-eye-off:before, .ion-md-fastforward:before, .ion-md-female:before, .ion-md-filing:before, .ion-md-film:before, .ion-md-finger-print:before, .ion-md-fitness:before, .ion-md-flag:before, .ion-md-flame:before, .ion-md-flash:before, .ion-md-flash-off:before, .ion-md-flashlight:before, .ion-md-flask:before, .ion-md-flower:before, .ion-md-folder:before, .ion-md-folder-open:before, .ion-md-football:before, .ion-md-funnel:before, .ion-md-gift:before, .ion-md-git-branch:before, .ion-md-git-commit:before, .ion-md-git-compare:before, .ion-md-git-merge:before, .ion-md-git-network:before, .ion-md-git-pull-request:before, .ion-md-glasses:before, .ion-md-globe:before, .ion-md-grid:before, .ion-md-hammer:before, .ion-md-hand:before, .ion-md-happy:before, .ion-md-headset:before, .ion-md-heart:before, .ion-md-heart-dislike:before, .ion-md-heart-empty:before, .ion-md-heart-half:before, .ion-md-help:before, .ion-md-help-buoy:before, .ion-md-help-circle:before, .ion-md-help-circle-outline:before, .ion-md-home:before, .ion-md-hourglass:before, .ion-md-ice-cream:before, .ion-md-image:before, .ion-md-images:before, .ion-md-infinite:before, .ion-md-information:before, .ion-md-information-circle:before, .ion-md-information-circle-outline:before, .ion-md-jet:before, .ion-md-journal:before, .ion-md-key:before, .ion-md-keypad:before, .ion-md-laptop:before, .ion-md-leaf:before, .ion-md-link:before, .ion-md-list:before, .ion-md-list-box:before, .ion-md-locate:before, .ion-md-lock:before, .ion-md-log-in:before, .ion-md-log-out:before, .ion-md-magnet:before, .ion-md-mail:before, .ion-md-mail-open:before, .ion-md-mail-unread:before, .ion-md-male:before, .ion-md-man:before, .ion-md-map:before, .ion-md-medal:before, .ion-md-medical:before, .ion-md-medkit:before, .ion-md-megaphone:before, .ion-md-menu:before, .ion-md-mic:before, .ion-md-mic-off:before, .ion-md-microphone:before, .ion-md-moon:before, .ion-md-more:before, .ion-md-move:before, .ion-md-musical-note:before, .ion-md-musical-notes:before, .ion-md-navigate:before, .ion-md-notifications:before, .ion-md-notifications-off:before, .ion-md-notifications-outline:before, .ion-md-nuclear:before, .ion-md-nutrition:before, .ion-md-open:before, .ion-md-options:before, .ion-md-outlet:before, .ion-md-paper:before, .ion-md-paper-plane:before, .ion-md-partly-sunny:before, .ion-md-pause:before, .ion-md-paw:before, .ion-md-people:before, .ion-md-person:before, .ion-md-person-add:before, .ion-md-phone-landscape:before, .ion-md-phone-portrait:before, .ion-md-photos:before, .ion-md-pie:before, .ion-md-pin:before, .ion-md-pint:before, .ion-md-pizza:before, .ion-md-planet:before, .ion-md-play:before, .ion-md-play-circle:before, .ion-md-podium:before, .ion-md-power:before, .ion-md-pricetag:before, .ion-md-pricetags:before, .ion-md-print:before, .ion-md-pulse:before, .ion-md-qr-scanner:before, .ion-md-quote:before, .ion-md-radio:before, .ion-md-radio-button-off:before, .ion-md-radio-button-on:before, .ion-md-rainy:before, .ion-md-recording:before, .ion-md-redo:before, .ion-md-refresh:before, .ion-md-refresh-circle:before, .ion-md-remove:before, .ion-md-remove-circle:before, .ion-md-remove-circle-outline:before, .ion-md-reorder:before, .ion-md-repeat:before, .ion-md-resize:before, .ion-md-restaurant:before, .ion-md-return-left:before, .ion-md-return-right:before, .ion-md-reverse-camera:before, .ion-md-rewind:before, .ion-md-ribbon:before, .ion-md-rocket:before, .ion-md-rose:before, .ion-md-sad:before, .ion-md-save:before, .ion-md-school:before, .ion-md-search:before, .ion-md-send:before, .ion-md-settings:before, .ion-md-share:before, .ion-md-share-alt:before, .ion-md-shirt:before, .ion-md-shuffle:before, .ion-md-skip-backward:before, .ion-md-skip-forward:before, .ion-md-snow:before, .ion-md-speedometer:before, .ion-md-square:before, .ion-md-square-outline:before, .ion-md-star:before, .ion-md-star-half:before, .ion-md-star-outline:before, .ion-md-stats:before, .ion-md-stopwatch:before, .ion-md-subway:before, .ion-md-sunny:before, .ion-md-swap:before, .ion-md-switch:before, .ion-md-sync:before, .ion-md-tablet-landscape:before, .ion-md-tablet-portrait:before, .ion-md-tennisball:before, .ion-md-text:before, .ion-md-thermometer:before, .ion-md-thumbs-down:before, .ion-md-thumbs-up:before, .ion-md-thunderstorm:before, .ion-md-time:before, .ion-md-timer:before, .ion-md-today:before, .ion-md-train:before, .ion-md-transgender:before, .ion-md-trash:before, .ion-md-trending-down:before, .ion-md-trending-up:before, .ion-md-trophy:before, .ion-md-tv:before, .ion-md-umbrella:before, .ion-md-undo:before, .ion-md-unlock:before, .ion-md-videocam:before, .ion-md-volume-high:before, .ion-md-volume-low:before, .ion-md-volume-mute:before, .ion-md-volume-off:before, .ion-md-walk:before, .ion-md-wallet:before, .ion-md-warning:before, .ion-md-watch:before, .ion-md-water:before, .ion-md-wifi:before, .ion-md-wine:before, .ion-md-woman:before {
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

toast-bar .toast-bar.preload {
  opacity: 0;
}

toast-bar .toast-bar {
  position: fixed;
  padding: 12px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
}

footer-bar footer {
  width: 100%;
  background: var(--color-white-lilac);
  flex: 0 0 8em;
}

@media screen and (max-width: 768px) {
  footer-bar .container {
    flex-direction: column-reverse;
    text-align: center;
  }
}

footer-bar .container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
